@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome To School Web Service</h2>
    <p>Web service contains staff details, Student details,Grades and inventory/shop.</p>
    <p>This is a University Project By Thomas and Grifyn for Cloud Computing </p>
</div>
